<div class="signup container">
  <div class="form-signup">
    <h2 class="form-signup-heading">Sign up with a new user</h2>
    <label for="password" class="sr-only">Firstname</label>
    <input type="text" id="firstname" class="form-control" placeholder="Firstname" [(ngModel)]="firstname">
    <label for="password" class="sr-only">Lastname</label>
    <input type="text" id="lastname" class="form-control" placeholder="Lastname" [(ngModel)]="lastname">
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" [(ngModel)]="username">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="password">
    <button type="button" class="btn btn-lg btn-primary btn-block" (click)="signup()">Sign up</button>
  </div>
  <button class="btn btn-info" routerLink="/login">Go to Login form</button>
  <p *ngIf="error" style="text-align:center; color: #F00">{{ error }}</p>  
</div>